<div class="col-md-8 offset-md-1">
  
  <% if controller.controller_name == "users" && controller.action_name == "index" %>
    <h2>Users</h2>
  <% elsif controller.controller_name == "books" && controller.action_name == "show"%>  
    <h2>Book detail</h2>
  <% else %>
    <h2>Books</h2>
  <% end %>
  
  

  <table class="table  table-hover table-inverse">
    <% if controller.controller_name == "users" && controller.action_name == "index" %>
      <thead>
        <tr>
          <th>image</th>
          <th>name</th>
          <th></th>
        </tr>
      </thead>
      <% users.each do |user| %>
        <tbody>
          <tr>
            <td>
                <%= image_tag user.get_profile_image(100, 100) %>
            </td>
            <td><%= user.name %></td>
            <td><%= link_to 'Show', user_path(user.id) %></td>
          </tr>
        </tbody>
      <% end %>
      
      
      
    <% elsif controller.controller_name == "books" && controller.action_name == "show"%>  
      <tbody>
          <tr>
            <td>
              <%= link_to user_path(selected_book.user.id) do %>
                <%= image_tag selected_book.user.get_profile_image(100, 100) %><br>
                <%= link_to selected_book.user.name, user_path(selected_book.user.id) %>
              <% end %>
            </td>
            <td><%= @selected_book.title %></td>
            <td><%= @selected_book.body %></td>
            
            <% if selected_book.user == current_user %>
              <td><%= link_to 'Edit', edit_book_path(selected_book.id) %></td>
              <td><%= link_to 'Destroy', book_path(selected_book.id), method: :delete, data: {confirm: "本当に消しますか？"} %></td>
            <% end %>
          </tr>
        </tbody>
      
    <% else %>
      <thead>
        <tr>
          <th></th>
          <th>Title</th>
          <th>Opinion</th>
        </tr>
      </thead>
      <% books.each do |book| %>
        <tbody>
          <tr>
            <td>
              <%= link_to user_path(book.user.id) do %>
                <%= image_tag book.user.get_profile_image(80, 80) %>
              <% end %>
            </td>
            <td><%= link_to book.title, book_path(book.id) %></td>
            <td><%= book.body %></td>
          </tr>
        </tbody>
      <% end %>
      
    <% end %>
  </table>
</div>